schemas/uscis/xsd/services/exceptions/0.1/exceptions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ex="http://uscis.gov/uscis/xsd/services/exceptions/0.1"
	 targetNamespace="http://uscis.gov/uscis/xsd/services/exceptions/0.1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!--
		Attributes that are being defined for USCIS for the Services data interchange layer.
		The attributes, types, and elements defined in this file are to support the generic
                error structures that are generated by the USCIS ESB.
	-->
	<element name="ErrorReport">
		<complexType>
			<simpleContent>
				<extension base="xsd:string">
					<attribute name="StackTrace" type="xsd:string"/>
					<attribute name="Message" type="xsd:string"/>
					<attribute name="FullClass" type="xsd:string"/>
					<attribute name="Class" type="xsd:string"/>
					<attribute name="ProcessStack" type="xsd:string"/>
					<attribute name="Code" type="xsd:string"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="ProcessContext">
		<complexType>
			<simpleContent>
				<extension base="xsd:string">
					<attribute name="ProcessID" type="xsd:integer"/>
					<attribute name="ProjectName" type="xsd:string"/>
					<attribute name="EngineName" type="xsd:string"/>
					<attribute name="RestartedFromCheckPoint" type="xsd:boolean"/>
					<attribute name="TrackingInfo" type="xsd:string"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="ESBException">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ex:ErrorReport" minOccurs="0"/>
				<element ref="ex:ProcessContext" minOccurs="0"/>
				<element name="Data" type="xsd:anyType" minOccurs="0"/>
			</sequence>
			<attribute name="TimeStamp" type="xsd:dateTime" use="required"/>
			<attribute name="SystemName" type="xsd:string" use="required"/>
			<attribute name="ErrorMessage" type="xsd:string" use="required"/>
			<attribute name="ErrorCode" type="xsd:string"/>
		</complexType>
	</element>
	<complexType name="ESBExceptionType">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<sequence>
			<element ref="ex:ESBException"/>
		</sequence>
	</complexType>
</schema>